<div class="form-group">
  <div class="col-md-10">
    <label>Mėnesio savaitė</label>
    <select class="form-control" [(ngModel)]="workoutDays.workoutDayMonthWeek">
                        <option value="0" disabled>Mėnesio savaitė</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                  </select>
  </div>
</div>
<div class="form-group">
  <div class="col-md-10">
    <label>Savaitės diena</label>
    <select class="form-control" [(ngModel)]="workoutDays.workoutDayWeekDay">
                        <option value="0" disabled>Savaitės diena</option>
                        <option value="1">Pirmadienis</option>
                        <option value="2">Antradienis</option>
                        <option value="3">Trečiadienis</option>
                        <option value="4">Ketvirtadienis</option>
                        <option value="5">Penktadienis</option>
                        <option value="6">Šeštadienis</option>
                        <option value="7">Sekmadienis</option>
                  </select>
  </div>
</div>